.hero {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  /* ff 3.6+ */
  background: -moz-linear-gradient(
    105deg,
    rgba(25, 25, 112, 1) 16%,
    rgba(191, 203, 202, 1) 86%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    105deg,
    rgba(25, 25, 112, 1) 16%,
    rgba(191, 203, 202, 1) 86%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    105deg,
    rgba(25, 25, 112, 1) 16%,
    rgba(191, 203, 202, 1) 86%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BFCBCA', endColorstr='#191970', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    105deg,
    rgba(25, 25, 112, 1) 16%,
    rgba(191, 203, 202, 1) 86%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    105deg,
    rgba(25, 25, 112, 1) 16%,
    rgba(191, 203, 202, 1) 86%
  );
}
/* nav{
	width: 84%;
	margin: auto;
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
} */
.info {
  margin-left: 8%;
  margin-top: 1%;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.info h1 {
  font-size: 5.6rem;
  color: #bfcbca;
  margin-bottom: 1px;
}
span {
  font-family: "Manrope", sans-serif;
  font-size: 7rem;
  color: #fff;
}
.info p {
  font-family: sans-serif;
  color: aliceblue;
  line-height: 32px;
  font-size: 1.3rem;
}
.icon {
  /* background: aliceblue; */
  /* padding: 10px 18px; */
  text-decoration: none;
  color: #191970;
  border-radius: 5px;
  font-size: 1.5rem;
  margin: 8px 0;
}
.icon a {
  background: aliceblue;
  padding: 10px 18px;
  text-decoration: none;
  color: #191970;
  border-radius: 5px;
  font-size: 1.5rem;
  margin: 8px 0;
}
.img-box {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  height: 85%;
  right: 25px;
  position: absolute;
}
.img-box img {
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}
.img-box:hover .back-img {
  bottom: 45px;
}
.img-box:hover .main-img {
  left: 65%;
}
